
.highlight-Style1 , .highlight-Style2 , .highlight-Style3{
  background:linear-gradient(rgba(0, 0, 0, 0.45) , rgba(0, 0, 0, 0.7)) , url(../../img/01.jpg);
  box-shadow: 7px 8px 35px rgb(65, 63, 63);
  background-size: cover;
  background-position: center;
  max-width: 370px;
  transition: all .4s;
}
.highlight-Style1:hover , .highlight-Style2:hover , .highlight-Style3:hover{
  transform: translateY(-2px);
}

.list-Style{
  border-bottom: 1px groove #eee;
  font-size: 20px;
  width: 55%;
  margin: auto;
  
}

.btn-Style{
  background-color: #2980b9;
  width: 130px;
  border-radius: 25px;
  box-shadow: 5px 8px 18px #000;
  transition: all .4s;
}

.btn-Style:hover{
  background-color: #3498db;
  transform: translateY(-2px);
}

/*--------------------------------------   highlights-animation   --------------------------------------*/

.highlight-animation{
  animation-name: hg-animation;
  animation-duration: 2s;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
}

@keyframes hg-animation{
  0%{ 
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

.down-active{
  animation-name: down ;
  animation-duration: 2s;
}

@keyframes down{
  0%{ 
      transform: translatey(17%);
      opacity: 0;
  }
  100%{
      transform: translatey(0);
      opacity: 1;
  }
}