.footer-Style{
  color: #eee;
  font-size: 17px;
  transition: all .4s;
  text-decoration: none;
  &:hover{
    color: goldenrod;
  }
}

.img-Style{
  width: 30px;
  height: 30px;
  cursor: pointer;
}